Package: xyz.skitty.wplprefs
Name: WallpaperLoader (Prefs)
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Easily change dark/light wallpaper
Icon: https://skitty.xyz/repo/icons/xyz.skitty.wplprefs.png
Depiction: https://skitty.xyz/repo/depictions/?p=xyz.skitty.wplprefs
SileoDepiction: https://skitty.xyz/repo/depictions/?s=xyz.skitty.wplprefs
Maintainer: Skitty
Author: Skitty
Section: Utilities
